// Заголовки, загальні БЕМ блоки та інше...
.title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: rem(36);
  line-height: math.div(48 , 36);
  color: $accent;
}
.link {
  display: flex;
  align-items: center;
  gap: rem(14);
  transition: color 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      color: $accent;
      svg path {
        fill: $accent;
      }
    }
  }
}
@keyframes mouse{

  0%{
    transform: translate(-50%, 0);
  }
  50%{
    transform: translate(-50%, 100%);
  }
  100%{
    transform: translate(-50%, 0);
  }
}
