//====================================================================================================
.footer {
  padding-top: rem(72);
  padding-bottom: rem(51);
  background: #2D343C;
  font-size: rem(14);
  line-height: math.div(16, 14);
  letter-spacing: 0.05em;
  // .footer__container

  &__container {}

  // .footer__row
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(30);

    @media (max-width:em(900)) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }

  // .footer__logo
  &__logo {
    margin-top: -12px;
  }

  // .footer__nav
  &__nav {}

  // .footer__address
  &__address {}
}

.footer {

  // .footer__container
  &__container {}

  // .footer__row
  &__row {}

  // .footer__logo
  &__logo {}

  // .footer__nav
  &__nav {}

  // .footer__nav-list
  &__nav-list {
    display: grid;
    gap: rem(15);
  }

  // .footer__nav-item
  &__nav-item {}

  // .footer__nav-link
  &__nav-link {
    span {
      font-weight: 700;
      color: $accent;
    }
  }

  // .footer__address
  &__address {
    display: grid;
    gap: rem(20);
  }
}

.social {
  &-list {
    display: flex;
    column-gap: rem(22);
    align-items: center;
  }

  &-item {}

  &-link {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.3);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}



//====================================================================================================