//====================================================================================================
.page {

  // .page__main
  &__main {
    padding-top: rem(296);
    padding-bottom: rem(74);
    min-height: rem(840);
    background: url('@img/first-screen.jpg') center / cover no-repeat;

    @media (max-width:$mobile) {
      padding-top: rem(260);
      padding-bottom: rem(60);
    }

  }

  // .page__benefits
  &__benefits {
    padding-top: rem(12);
    padding-bottom: rem(120);

    @media (max-width:$mobile) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
  }

  // .page__appartments
  &__appartments {}

  // .page__cta
  &__cta {
    padding-top: rem(180);
    padding-bottom: rem(180);
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(@img/cta/01.jpg) center/ cover no-repeat, #C4C4C4;

    @media (max-width:$mobile) {
      padding-top: rem(90);
      padding-bottom: rem(90);
    }
  }

  // .page__video
  &__video {}

  // .page__map
  &__map {
    padding-top: rem(180);
    padding-bottom: rem(180);

    @media (max-width:$mobile) {
      padding-top: rem(90);
      padding-bottom: rem(90);
    }
  }

  // .page__feadback
  &__feadback {
    padding-bottom: rem(180);

    @media (max-width:$mobile) {
      padding-bottom: rem(90);
    }
  }
}

.main {

  // .main__container
  &__container {
    display: flex;
    flex-direction: column;
  }

  // .main__body
  &__body {
    position: relative;
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: rem(80);
    }
  }

  // .main__title
  &__title {
    font-size: rem(48);
    line-height: math.div(64, 48);
    text-align: center;

    @media (max-width:$mobile) {
      font-size: rem(32);
    }

    &:not(:last-child) {
      margin-bottom: rem(80);

      @media (max-width:$mobile) {
        margin-bottom: rem(40);
      }
    }
  }

  // .main__mouse
  &__mouse {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    animation: mouse 3s ease-in-out infinite running;

  }

  // .main__info
  &__info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: rem(30);
    font-size: rem(18);
    line-height: math.div(21, 18);
    padding-top: rem(200);

    @media (max-width:$mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: rem(30);
    }
  }

  // .main__adress
  &__adress {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }

  // .main__phone
  &__phone {}
}

.benefits {
  position: relative;

  &::before {
    content: 'II';
    left: calc(50% + 555px);
    transform: translate(-50%, 0);
    @include decorNumber;
  }

  // .benefits__container
  &__container {
    max-width: rem(848);
  }

  // .benefits__list
  &__list {
    display: flex;
    column-gap: rem(70);

    @media (max-width:em(900)) {
      display: grid;
      gap: rem(40) rem(30);
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }

  // .benefits__item
  &__item {
    text-align: center;
  }

  // .benefits__icon
  &__icon {
    margin-bottom: rem(53);

    @media (max-width:$mobile) {
      margin-bottom: rem(20);
    }
  }

  // .benefits__text
  &__text {
    line-height: math.div(27, 20);
    font-family: 'Roboto';
    font-weight: 300;
  }
}

.appartments {
  position: relative;

  &::after {
    content: 'III';
    right: calc(50% + 555px);
    transform: translate(50%, 0);
    @include decorNumber;
    top: -34px;
  }

  // .appartments__container
  &__container {}

  // .appartments__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(88);

      @media (max-width:$mobile) {
        margin-bottom: rem(44);
      }
    }
  }

  // .appartments__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(30);

    @media (max-width:em(900)) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }

  // .appartments__card
  &__card {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease 0s;
    overflow: hidden;

    @media (any-hover: hover) {
      &:hover {
        color: $accent;

        .appartments__image {
          transform: scale(1.1);
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &::after {
      content: '';
      opacity: 0;
      z-index: 7;
      position: absolute;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      border: 3px double rgba($color: #fff, $alpha: 0.4);
      transition: opacity 0.3s ease 0s;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 6;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
    }
  }

  // .appartments__image
  &__image {
    position: relative;
    z-index: 5;
    transition: all 0.3s ease 0s;
    filter: contrast(110%) brightness(1.2) saturate(1.2);
  }

  // .appartments__name
  &__name {
    position: absolute;
    bottom: 44px;
    left: 50px;
    right: 50px;
    font-size: rem(24);
    line-height: math.div(28, 24);
    font-weight: 400;
    z-index: 50;
  }
}

.cta {

  // .cta__container
  &__container {}

  // .cta__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(17);
    }
  }

  // .cta__row
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(30);

    @media (max-width:$tablet) {
      grid-template-columns: 1fr;
    }
  }

  // .cta__text
  &__text {
    font-size: rem(16);
    line-height: rem(24);

    p+p {
      margin-top: 1em;
    }
  }

  // .cta__form
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(35) rem(30);

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.video {
  overflow: hidden;
  text-align: center;
  position: relative;

  &::before {
    content: 'IV';
    left: calc(50% + 555px);
    transform: translate(-50%, 0);

    @include decorNumber;
  }

  // .video__container
  &__container {
    text-align: center;
  }

  // .video__title
  &__title {}

  // .video__link
  &__link {
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease 0s;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          background: rgba(36, 43, 51, 0.7);
        }
      }
    }
  }

  // .video__icon
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: all 0.3s ease 0s;

    @media (max-width:$tablet) {
      height: rem(90);
      width: rem(90);
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
        filter: saturate(1.5)
      }
    }
  }

  // .video__image
  &__image {
    max-width: 100%;
    height: auto;
  }
}

.map {
  position: relative;

  &::after {
    content: 'V';

    right: calc(50% + 555px);
    transform: translate(50%, 0);
    @include decorNumber;
    top: 120px;
  }

  // .map__container
  &__container {}

  // .map__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(88);
    }
  }

  // .map__row
  &__row {}

  // .map__map
  &__map {
    height: 358px;
    background-color: gray;
  }
}

.feadback {

  // .feadback__container
  &__container {}

  // .feadback__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(88);

      @media (max-width:$mobile) {
        margin-bottom: rem(44);
      }
    }
  }

  // .feadback__form
  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(30);
    align-items: center;

    @media (max-width:$tablet) {
      grid-template-columns: 1fr;
    }
  }
}

//====================================================================================================